<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationTooltip01">Reader's first name</label>
      <input type="text" class="form-control" id="validationTooltip01" placeholder="First name" required>
    </div>

    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Reader's last name</label>
      <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name" required>
    </div>

    <div class="col-md-4 mb-3">
      <label for="validationTooltipUsername">UserID</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
        </div>
        <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Username"
               aria-describedby="validationTooltipUsernamePrepend" required>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationTooltip03">Item Title</label>
      <input type="text" class="form-control" id="validationTooltip03" placeholder="Book or DVD title" required>
    </div>

    <div class="col-md-3 mb-3">
      <label for="validationTooltip04">ISBN</label>
      <input type="text" class="form-control" id="validationTooltip04" placeholder="ISBN" required>
    </div>

    <div class="col-md-3 mb-3">
      <label for="validationTooltip05">Date of purchase</label>
      <input type="text" class="form-control" id="validationTooltip05" placeholder="Date" required>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Borrow</button>
</form>
