<div class="container">
  <div class="row">


    <div class="col-md-12">
      <h4>List of items</h4>
      <div class="table-responsive">


        <table id="mytable" class="table table-bordred table-striped">

          <thead>

          <th>Type</th>
          <th>ISBN</th>
          <th>Topic</th>
          <th>Author Details</th>
          <th>Publisher/Creator</th>
          <th>In</th>
          <th>Borrowed</th>
          </thead>
          <tbody>

          <tr>
            <td>Book</td>
            <td>2324DFFCS</td>
            <td>Object oriented JAVA</td>
            <td>Sashika Sandeepana</td>
            <td>ISDT india</td>
            <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
          </tr>

          <tr>
            <td>Book</td>
            <td>we54d5s121</td>
            <td>MySQL</td>
            <td>Danu de silva</td>
            <td>Printing co</td>
            <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
          </tr>


          <tr>
            <td>Book</td>
            <td>sa564s8a</td>
            <td>AngularJs</td>
            <td>Robert w. perera</td>
            <td>T & A printing</td>
            <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
          </tr>



          <tr>
            <td>DVD</td>
            <td>ds5d445</td>
            <td>Be a pro in photoshop cc 2019 </td>
            <td>Mark filtix</td>
            <td>Digital work production</td>
            <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
          </tr>

          </tbody>

        </table>

      </div>

    </div>
  </div>
</div>
