<style>
.text-color{
  color: white;
}
</style>
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <br><br>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-dark text-color">Copyright © westminster library management. Developed by vikum sanjeewa. All right reserved.</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


