<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Add a DVD</legend>
<div class="form-row">
    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="ISBN">ISBN</label>
        <input id="ISBN" name="ISBN" type="text" placeholder="Enter isbn of the book" class="form-control input-md"
               required="">
    </div>

    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="Topic">Topic</label>
        <input id="Topic" name="Topic" type="text" placeholder="Enter the topic" class="form-control input-md"
               required="">
    </div>

    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="Sector">Sector</label>
        <input id="Sector" name="Sector" type="text" placeholder="Enter the category" class="form-control input-md"
               required="">
    </div>

    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="Publish Date">Publish Date</label>
        <input id="Publish Date" name="Publish Date" type="text" placeholder="Enter the date of publish"
               class="form-control input-md" required="">
    </div>

    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="Actors Details">Actors Details</label>
        <input id="Actors Details" name="Actors Details" type="text" placeholder="Enter Actors Details"
               class="form-control input-md" required="">
    </div>

    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="Producer Details">Producer Details</label>
        <input id="Producer Details" name="Producer Details" type="text" placeholder="Enter Producer Details"
               class="form-control input-md" required="">
    </div>

    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="Language">Language</label>
        <input id="Language" name="Language" type="text" placeholder="Enter the Language" class="form-control input-md"
               required="">
    </div>

    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="Subtitles">Subtitles</label>
        <input id="Subtitles" name="Subtitles" type="text" placeholder="Subtitles Language"
               class="form-control input-md" required="">
    </div>
</div>
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for=""></label>
      <div class="col-md-4">
        <button id="" name="" class="btn btn-success">Submit</button>
      </div>
    </div>

  </fieldset>
</form>
