<form class="form-verticle">
  <fieldset>

    <!-- Form Name -->
    <legend>Add a book</legend>

    <div class="form-row">
    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="ISBN">ISBN</label>
        <input id="ISBN" name="ISBN" type="text" placeholder="Enter isbn of the book" class="form-control input-md"
               required="">
    </div>

    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="Topic">Topic</label>
        <input id="Topic" name="Topic" type="text" placeholder="Enter the topic" class="form-control input-md"
               required="">
    </div>

    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="Sector">Sector</label>
        <input id="Sector" name="Sector" type="text" placeholder="Enter the category" class="form-control input-md"
               required="">
    </div>

    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="Publish Date">Publish Date</label>
        <input id="Publish Date" name="Publish Date" type="text" placeholder="Enter the date of publish"
               class="form-control input-md" required="">
    </div>

    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="Author Details">Author Details</label>
        <input id="Author Details" name="Author Details" type="text" placeholder="Enter Author Details"
               class="form-control input-md" required="">
    </div>

    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="Publisher Details">Publisher Details</label>
        <input id="Publisher Details" name="Publisher Details" type="text" placeholder="Enter Publisher Details"
               class="form-control input-md" required="">
    </div>

    <!-- Text input-->
    <div class="col-md-3 mb-3">
      <label class="control-label" for="NO of pages">NO of pages</label>
        <input id="NO of pages" name="NO of pages" type="text" placeholder="no of pages" class="form-control input-md"
               required="">
    </div>
    </div>
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for=""></label>
      <div class="col-md-4">
        <button id="" name="" class="btn btn-success">Submit</button>
      </div>
    </div>

  </fieldset>
</form>
