<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationTooltip03">Topic</label>
      <input type="text" class="form-control" id="validationTooltip03" placeholder="Topic of book or DVD" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationTooltip04">ISBN</label>
      <input type="text" class="form-control" id="validationTooltip04" placeholder="ISBN" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationTooltip05">Type</label>
      <input type="text" class="form-control" id="validationTooltip05" placeholder="Book or DVD" required>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Return Item</button>
</form>
